---
import Section from "./ui/Section.astro";
---

<Section title="Projects">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-1">
      <p class="flex gap-1">
        <strong class="font-bold">Divar Project</strong>
        <a
          class="italic text-blue-600 underline underline-offset-2"
          href="https://github.com/Rezaa-1998/Divar-Frontend"
          target="_blank"
          rel="noopener noreferrer"
        >
          Github
        </a>
      
      </p>
      <ul
        class="flex list-inside list-disc flex-col gap-2 text-justify marker:text-stone-500"
      >
        <li>
          A single-page application created using <strong>React.js</strong> utilizes
          phone numbers for authorization and authentication via cookies
        </li>
        <li>
          In the application, users have the ability to add posts, while
          administrators enjoy additional privileges, including the capability
          to create categories. This role-based access control ensures efficient
          management of content.
        </li>

        <li>
          Implemented
          <strong> React Query</strong> with <strong>Axios</strong> to optimize API
          calls and state management, aligning with industry best practices .
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-1">
      <p class="flex gap-1">
        <strong class="font-bold">Store App</strong>
        <a
          class="italic text-blue-600 underline underline-offset-2"
          href="https://store-app-rtk.vercel.app/products"
          target="_blank"
          rel="noopener noreferrer"
        >
          Vercel
        </a>
   
      </p>
      <ul
        class="flex list-inside list-disc flex-col gap-2 text-justify marker:text-stone-500"
      >
        <li>
          Proficient in simultaneously searching, categorizing, adding products
          to the shopping cart, and managing states using <strong>
            Redux Toolkit
          </strong>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-1">
      <p class="flex gap-1">
        <strong class="font-bold">Crypto App</strong>
        <a
          class="italic text-blue-600 underline underline-offset-2"
          href="https://crypto-app-one-pi.vercel.app/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Vercel
        </a>
      </p>
     
    </div>
    <div class="flex flex-col gap-1">
      <p class="flex gap-1">
        <strong class="font-bold">Weather App</strong>
        <a
          class="italic text-blue-600 underline underline-offset-2"
          href="https://weather-app-two-gamma-42.vercel.app/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Vercel
        </a>
      </p>
    </div>
  </div>
</Section>
