---
import Section from "./ui/Section.astro";
---

<Section title="summary">
  <p class="text-justify">
    Passionate Front-End Engineer, with 1+ years of experience creating
    responsive applications and websites. My core specialties is in <strong
      >React</strong
    > and <strong>Javascript</strong>. I am currently enhancing my skills and
    learning
    <strong>TypeScript</strong> and
    <strong>Next.js</strong>. I thrive in agile
    environments and enjoy collaborating with cross-functional teams to deliver
    projects efficiently and on time. Continuously eager to learn and adapt, I
    am always open to exploring new technologies to enhance my skills and
    contribute to innovative web solutions. I am actively seeking a <strong>junior front-end developer</strong>  position .
  </p>
</Section>
