---
import Section from "./ui/Section.astro";
---

<Section title="technical skills">
  <ul
    class="grid list-inside list-disc grid-cols-2 gap-1 text-stone-800 marker:text-stone-500"
  >
    <li>HTML, CSS, JavaScript (ES6/ES7)</li>
    <li>MUI, SASS, Tailwind</li>
    <li>React</li>
    <li>Redux, React Router, React Query, Context Api</li>
    <!-- <li>Cypress, Vitest, React Testing Library</li> -->
    <li>RESTful API, Axios</li>
    <li>Git, Github</li>
  </ul>
</Section>
